.sigh-body{
    background-color: slategrey;
}
.container.sighin-container{
   margin-top: 8% ;
}
.card.sighin-card{
    padding: 40px 0px 20px ;
  
    box-shadow: 2px 2px 5px rgba(0, 0, 0 , .5);
    -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0 , .5);
    -moz-box-shadow:2px 2px 5px rgba(0, 0, 0 , .5); 
}
 img.img-size{
    
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 10%;
  
